<div class="welcome">
    <div class="row my-5">
        <div class="col d-flex justify-content-center">
            <card *ngFor="let tCard of topCards" 
                [card]="tCard"
                [visible]="tCard.visible">
            </card>
        </div>
    </div>
    <div class="row my-5">
        <div class="col d-flex justify-content-center   ">
            <div class="btn-play">
                <button class="btn btn-lg btn-dark" (click)="play()"> PLAY </button>       
            </div>   
        </div>
    </div>        
    <div class="row my-5">
        <div class="col d-flex justify-content-center">
            <card *ngFor="let bCard of bottomCards" 
                [card]="bCard"
                [visible]="bCard.visible">
            </card>
        </div>
    </div>
</div>
